
services:
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    environment:
      PORT: 5000
      MONGO_URI: mongodb://mongo:27017/comp3123
      JWT_SECRET: supersecret
      CLIENT_URL: http://localhost:5173
      UPLOAD_DIR: uploads
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      - mongo
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    environment:
      VITE_API_URL: http://localhost:5000/api
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  mongo_data:
