<<<<<<< HEAD
services:
  mongo:
    image: mongo:6
   
    restart: always
   
=======

services:
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
>>>>>>> 26bc769935998ff38e243144c7075a6b09b1d7a2
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
<<<<<<< HEAD
    container_name: backend
    restart: always
    environment:
    
      - MONGO_URI=mongodb://mongo:27017/comp3123_assignment2
      - JWT_SECRET=supersecretjwtkey
      - PORT=5000
    ports:
      
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    environment:
      
      - REACT_APP_API_URL=http://localhost:5000/api
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:

=======
    environment:
      PORT: 5000
      MONGO_URI: mongodb://mongo:27017/comp3123
      JWT_SECRET: supersecret
      CLIENT_URL: http://localhost:5173
      UPLOAD_DIR: uploads
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      - mongo
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    environment:
      VITE_API_URL: http://localhost:5000/api
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  mongo_data:
>>>>>>> 26bc769935998ff38e243144c7075a6b09b1d7a2
